# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pkl
*.pt
.env
.venv/
venv/

# --------------------
# Node / Frontend
# --------------------
node_modules/
dist/

# --------------------
# OS / Editor
# --------------------
.DS_Store

